/backend/env
/backend/venv
/backend/app/sql_app.db
/backend/app/results
/backend/app/uploads
/backend/app/thumbnails
/frontend/node_modules
/frontend/yarn.lock
__pycache__/
.env
.env.example
/frontend/build
*.log
.mypy_cache
